PORT=8080
NODE_ENV=development
DATABASE_URL="postgresql://postgres:password@localhost:5432/roriri_erp_db?schema=public"
JWT_SECRET="your_jwt_secret_key_here"
JWT_EXPIRES_IN="7d"
CORS_ORIGIN=http://localhost:8080
